email-validator
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
asyncpg
psycopg2-binary
pgvector
redis
celery
minio
python-multipart
python-jose[cryptography]
passlib[bcrypt]
httpx
networkx
shapely
trimesh
numpy
# pandas

openai
torch>=2.2.0
torch-geometric>=2.5.0
# langchain
# langchain-community
# langchain-core
# langchain-openai
